* {
  box-sizing: border-box;
  font-family: sans-serif; }

img {
  width: 100%;
  height: auto;
  vertical-align: middle; }

.first {
  min-height: 600px;
  position: relative;
  background-image: url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
  background-position: center; }
  .first .foo {
    width: 100%;
    padding: 0 !important;
    background-color: white !important;
    position: sticky;
    top: 0;
    z-index: 2;
    margin-top: 0 !important; }
  .first .navbar-brand {
    background-color: #009970;
    color: #ffffff;
    padding: 17px 40px;
    font-weight: bolder; }
  .first .m_navbar {
    margin-left: 5%;
    text-align: center; }
    .first .m_navbar .nav-link {
      margin: 0 15px; }
    .first .m_navbar .active a {
      color: #009970 !important;
      font-weight: bolder; }
  .first .m_navbar_button {
    display: inline-block;
    padding: 5px 20px;
    background-color: #009970;
    color: #ffffff;
    border-radius: 20px;
    margin-right: 20px; }
    .first .m_navbar_button a {
      text-decoration: none; }
  .first .main {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1; }
    .first .main h2 {
      font-size: 3.1rem;
      font-weight: bolder;
      color: #ffffff; }
    .first .main h5 {
      margin-top: 30px;
      color: #ffffff; }
    .first .main button {
      border-radius: 20px;
      transition: all 0.5s;
      margin-bottom: 120px;
      padding: 7px 12px; }
      .first .main button:hover {
        background-color: #009970;
        color: #ffffff;
        border: none; }
  .first .my-div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7); }

.second {
  min-height: 500px;
  text-align: center;
  color: #444444; }
  .second .clients {
    width: 90%;
    position: relative;
    margin: 0 auto; }
    .second .clients .image_box {
      width: 60%;
      height: auto;
      transition: 0.4s;
      margin: 0 10px; }
    .second .clients img {
      filter: grayscale(1); }
      .second .clients img:hover {
        filter: grayscale(0);
        transform: scale(1.12); }

.arosatda .header {
  min-height: 150px;
  background-color: #009970;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff; }
  .arosatda .header h1 {
    font-weight: bolder; }
  .arosatda .header .col-6 {
    text-align: center; }

.third {
  min-height: 600px; }
  .third .section {
    display: flex;
    justify-content: space-between; }
    .third .section > .col-md-4 {
      color: #ffffff;
      background-color: #009970;
      padding: 20px;
      min-height: 500px;
      margin-top: 50px;
      text-align: center;
      border-radius: 7px; }
      .third .section > .col-md-4 h2 {
        margin-top: 10px;
        font-weight: bolder; }
      .third .section > .col-md-4 h2, .third .section > .col-md-4 p {
        text-align: left; }
      .third .section > .col-md-4 button {
        background-color: #1AA37F;
        border-radius: 20px;
        padding: 7px 30px;
        margin-top: 50px; }
        .third .section > .col-md-4 button:hover {
          background-color: #009970;
          box-shadow: 0 0 3px rgba(255, 255, 255, 0.4); }
        .third .section > .col-md-4 button a {
          text-decoration: none;
          color: #ffffff; }
    .third .section .big_box {
      width: 100%;
      margin-top: 100px;
      margin-left: 50px; }
      .third .section .big_box .box {
        text-align: center;
        width: 32%;
        margin: 0 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        padding: 20px 7px;
        border-radius: 5px;
        transition: all 0.3s;
        color: #444444; }
        .third .section .big_box .box:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.22); }
        .third .section .big_box .box .image_box {
          display: inline-block;
          width: 20%;
          margin: 40px;
          background-position: center; }
      @media only screen and (max-width: 768px) {
        .third .section .big_box > div {
          width: 100%; } }

.fourth {
  position: relative;
  height: 300px;
  background-image: url("../images/img_action.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #ffffff;
  text-align: center; }
  .fourth .main {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; }
    .fourth .main button {
      box-sizing: border-box;
      font-weight: bolder;
      padding: 7px 25px;
      color: #ffffff;
      background-color: transparent;
      border-radius: 20px;
      transition: background-color 0.4s;
      border: 2px solid #ffffff; }
      .fourth .main button:hover {
        background-color: #009970;
        border: none; }
  .fourth .my-box {
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1; }

.fifth {
  padding: 50px 70px;
  min-height: 600px;
  background-color: #F6F6F7; }
  .fifth .big_box .line {
    width: 100px;
    height: 4px;
    background-color: #009970;
    margin: 20px 0; }
  .fifth .box {
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); }
  .fifth .image_box {
    width: 60px;
    height: 60px;
    margin: 30px 0;
    display: inline-block;
    border: 1px solid #009970;
    border-radius: 50%;
    overflow: hidden;
    background-position: center; }
    .fifth .image_box:hover {
      background-color: #009970;
      cursor: pointer; }
  .fifth h2:hover {
    color: #009970;
    cursor: pointer; }

.sixth {
  padding: 70px 90px; }
  .sixth .line {
    width: 70px;
    height: 4px;
    background-color: #009970;
    margin: 20px 0; }
  .sixth .m_navbar {
    text-align: center;
    display: flex;
    justify-content: center; }
    .sixth .m_navbar ul {
      margin: 0 auto; }
      .sixth .m_navbar ul .nav-item, .sixth .m_navbar ul .nav-link {
        border-radius: 20px;
        transition: background-color 0.4s; }
      .sixth .m_navbar ul .nav-link {
        color: grey; }
      .sixth .m_navbar ul .nav-item:first-child {
        background-color: #009970;
        color: #ffffff; }
        .sixth .m_navbar ul .nav-item:first-child a {
          color: #ffffff;
          text-decoration: none; }
      .sixth .m_navbar ul .nav-item a:hover {
        color: #ffffff;
        background-color: #009970; }
  .sixth .m_portfolio {
    margin-top: 50px; }
  .sixth .box {
    position: relative;
    border: 10px solid #ffffff;
    min-height: 300px;
    padding: 0 !important;
    margin: 0 !important;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.4s;
    overflow: hidden; }
    .sixth .box .m_center {
      width: 40%;
      text-align: center;
      color: #ffffff;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
      transition: 0.6s; }
      .sixth .box .m_center .icon_box {
        display: inline-block;
        width: 25px;
        font-size: 2rem; }
    .sixth .box:hover {
      transform: scale(1.05); }
      .sixth .box:hover .m_center {
        display: block; }
  .sixth .box:first-child {
    background-image: url("../images/portfolio/portfolio-1.jpg"); }
    .sixth .box:first-child:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/portfolio/portfolio-1.jpg"); }
  .sixth .box:nth-child(2) {
    background-image: url("../images/portfolio/portfolio-2.jpg"); }
    .sixth .box:nth-child(2):hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/portfolio/portfolio-2.jpg"); }
  .sixth .box:nth-child(3) {
    background-image: url("../images/portfolio/portfolio-3.jpg"); }
    .sixth .box:nth-child(3):hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/portfolio/portfolio-3.jpg"); }
  .sixth .box:nth-child(4) {
    background-image: url("../images/portfolio/portfolio-4.jpg"); }
    .sixth .box:nth-child(4):hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/portfolio/portfolio-4.jpg"); }
  .sixth .box:nth-child(5) {
    background-image: url("../images/portfolio/portfolio-5.jpg"); }
    .sixth .box:nth-child(5):hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/portfolio/portfolio-5.jpg"); }
  .sixth .box:nth-child(5) {
    background-image: url("../images/portfolio/portfolio-5.jpg"); }
    .sixth .box:nth-child(5):hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/portfolio/portfolio-5.jpg"); }
  .sixth .box:nth-child(6) {
    background-image: url("../images/portfolio/portfolio-6.jpg"); }
    .sixth .box:nth-child(6):hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/portfolio/portfolio-6.jpg"); }
  .sixth .box:nth-child(7) {
    background-image: url("../images/portfolio/portfolio-7.jpg"); }
    .sixth .box:nth-child(7):hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/portfolio/portfolio-7.jpg"); }
  .sixth .box:nth-child(8) {
    background-image: url("../images/portfolio/portfolio-8.jpg"); }
    .sixth .box:nth-child(8):hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/portfolio/portfolio-8.jpg"); }
  .sixth .box:nth-child(9) {
    background-image: url("../images/portfolio/portfolio-9.jpg"); }
    .sixth .box:nth-child(9):hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/portfolio/portfolio-9.jpg"); }

.seventh {
  min-height: 600px;
  padding: 70px 90px;
  color: #8C8C8D;
  background-color: #F6F6F7; }
  .seventh .line {
    width: 70px;
    height: 4px;
    background-color: #009970;
    margin: 20px 0; }
  .seventh .big-car-box {
    margin-top: 100px; }
  .seventh .m_indicator {
    margin-top: 100px !important;
    width: 15px;
    height: 15px;
    border-radius: 50% !important; }
  .seventh .car_box {
    border: 20px solid #F6F6F7;
    text-align: center;
    background-color: #ffffff;
    padding: 25px;
    position: relative; }
    .seventh .car_box .image-box {
      display: inline-block;
      width: 90px;
      height: 90px;
      margin: 25px 0;
      border-radius: 50%;
      overflow: hidden; }

.eighth {
  min-height: 610px;
  padding: 40px 70px;
  background-color: #F6F6F7; }
  .eighth .big_box .line {
    width: 100px;
    height: 4px;
    background-color: #009970;
    margin: 20px 0; }
  .eighth .box {
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); }
    .eighth .box .image_box {
      width: 120px;
      height: 120px;
      margin: 30px 0;
      display: inline-block;
      border-radius: 50%;
      overflow: hidden;
      background-position: center; }
      .eighth .box .image_box:hover {
        transform: scale(1.07);
        background-color: #009970;
        cursor: pointer; }
    .eighth .box .divider {
      display: inline-block;
      height: 2px;
      background-color: rgba(0, 0, 0, 0.4);
      margin: 0 auto; }
    .eighth .box .social {
      text-align: center;
      width: 70%;
      margin: 0 auto; }
      .eighth .box .social .col-3 {
        cursor: pointer; }
    .eighth .box h2:hover {
      color: #009970;
      cursor: pointer; }

.ninth {
  min-height: 500px;
  padding: 40px 70px;
  background-color: #F6F6F7; }
  .ninth .big_box .line {
    width: 100px;
    height: 4px;
    background-color: #009970;
    margin: 20px 0; }
  .ninth .map .map-container-3 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0; }
  .ninth .map .map-container-3 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }
  .ninth .box {
    width: 100%;
    height: auto;
    padding: 20px;
    margin-top: 15px;
    background-color: #ffffff;
    border: 5px solid #F6F6F7; }
    .ninth .box .image-box {
      width: 60px;
      height: 60px;
      padding: 10px;
      margin-right: 10px;
      border-radius: 50%;
      background-position: center;
      background-color: #009970; }
  .ninth .form {
    text-align: center;
    display: flex;
    justify-content: center; }
    .ninth .form input, .ninth .form textarea {
      border-color: transparent;
      outline: none;
      border-radius: 5px;
      background-color: #ffffff; }
      .ninth .form input:hover, .ninth .form textarea:hover {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); }
    .ninth .form button {
      display: inline-block;
      background-color: #009970;
      border-radius: 25px;
      color: #ffffff; }
      .ninth .form button:hover {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.4); }

.tenth {
  padding: 20px 45px;
  color: #83777F; }
  .tenth ul {
    list-style-type: none; }
    .tenth ul li {
      padding: 15px 10px; }
      .tenth ul li a {
        text-decoration: none;
        color: #83777F; }
        .tenth ul li a:hover {
          color: #009970; }
    .tenth ul li::before {
      content: "\2022";
      color: #009970;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em; }
  .tenth .footer_join {
    position: relative; }
    .tenth .footer_join .footer_button {
      position: absolute;
      right: 20px;
      top: 120px;
      border-radius: 25px;
      background-color: #009970;
      color: #ffffff; }
  .tenth .footer_author {
    min-height: 60px; }
    .tenth .footer_author .image_box {
      width: 35px;
      height: 35px;
      margin-top: 10px;
      border-radius: 50%;
      background-position: center;
      overflow: hidden;
      background-color: #009970; }
      .tenth .footer_author .image_box:hover {
        box-shadow: 2px 2px 10px #009970;
        transform: scale(1.05); }

.topper {
  display: inline-block;
  margin-top: 10px;
  margin-left: 95%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #009970;
  border: 5px solid transparent; }
  .topper a {
    text-decoration: none;
    color: #ffffff; }

/*# sourceMappingURL=main.css.map */
