$main-color: #009970;

* {
  box-sizing: border-box;

  font-family: sans-serif;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.first {
  min-height: 600px;
  position: relative;
  background-image: url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
  background-position: center;

  .foo {
    width: 100%;
    padding: 0 !important;
    background-color: white !important;
    position: sticky;
    top: 0;
    z-index: 2;
    margin-top: 0 !important;
  }

  .navbar-brand {
    background-color: $main-color;
    color: #ffffff;
    padding: 17px 40px;
    font-weight: bolder;
  }

  .m_navbar {
    margin-left: 5%;
    text-align: center;

    .nav-link {
      margin: 0 15px;
    }

    .active a {
      color: $main-color !important;
      font-weight: bolder;
    }
  }

  .m_navbar_button {
    display: inline-block;
    padding: 5px 20px;
    background-color: $main-color;
    color: #ffffff;
    border-radius: 20px;
    margin-right: 20px;

    a {
      text-decoration: none;
    }
  }

  .main {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;

    h2 {
      font-size: 3.1rem;
      font-weight: bolder;
      color: #ffffff;
    }

    h5 {
      margin-top: 30px;
      color: #ffffff;
    }

    button {
      border-radius: 20px;
      transition: all 0.5s;
      margin-bottom: 120px;
      padding: 7px 12px;

      &:hover {
        background-color: $main-color;
        color: #ffffff;
        border: none;
      }
    }
  }

  .my-div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

}

.second {
  min-height: 500px;
  text-align: center;
  color: #444444;

  .clients {
    width: 90%;
    position: relative;

    margin: 0 auto;

    .image_box {
      width: 60%;
      height: auto;
      transition: 0.4s;
      margin: 0 10px;
    }

    img {
      filter: grayscale(1);

      &:hover {
        filter: grayscale(0);
        transform: scale(1.12);
      }
    }

  }


}

.arosatda {
  .header {
    min-height: 150px;
    background-color: $main-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;

    h1 {
      font-weight: bolder;
    }

    .col-6 {
      text-align: center;
    }
  }
}

.third {
  min-height: 600px;

  .section {
    display: flex;
    justify-content: space-between;

    & > .col-md-4 {
      color: #ffffff;
      background-color: $main-color;
      padding: 20px;
      min-height: 500px;
      margin-top: 50px;
      text-align: center;
      border-radius: 7px;

      h2 {
        margin-top: 10px;
        font-weight: bolder;
      }

      h2, p {
        text-align: left;
      }

      button {
        background-color: #1AA37F;
        border-radius: 20px;
        padding: 7px 30px;
        margin-top: 50px;

        &:hover {
          background-color: $main-color;
          box-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
        }

        a {
          text-decoration: none;
          color: #ffffff;
        }
      }

    }

    .big_box {
      width: 100%;
      margin-top: 100px;
      margin-left: 50px;

      .box {
        text-align: center;
        width: 32%;
        margin: 0 10px;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
        padding: 20px 7px;
        border-radius: 5px;
        transition: all 0.3s;
        color: #444444;
        &:hover{
          box-shadow: 0 0 10px rgba(0,0,0,0.22);
        }

        .image_box {
          display: inline-block;
          width: 20%;
          margin: 40px;
          background-position: center;
        }

      }

      @media only screen and (max-width: 768px){
        & > div{
         width: 100%;
        }
      }


    }

  }
}

.fourth {
  position: relative;
  height: 300px;
  background-image: url("../images/img_action.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #ffffff;
  text-align: center;

  .main {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    button {
      box-sizing: border-box;
      font-weight: bolder;
      padding: 7px 25px;
      color: #ffffff;
      background-color: transparent;
      border-radius: 20px;
      transition: background-color 0.4s;
      border: 2px solid #ffffff;

      &:hover {
        background-color: $main-color;
        border: none;
      }
    }
  }

  .my-box {
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
}

.fifth {
  padding: 50px 70px;
  min-height: 600px;
  background-color: #F6F6F7;

  .big_box {

    .line {
      width: 100px;
      height: 4px;
      background-color: $main-color;
      margin: 20px 0;
    }
  }

  .box {
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

  }

  .image_box {
    width: 60px;
    height: 60px;
    margin: 30px 0;
    display: inline-block;
    border: 1px solid $main-color;
    border-radius: 50%;
    overflow: hidden;
    background-position: center;

    &:hover {
      background-color: $main-color;
      cursor: pointer;
    }
  }

  h2:hover {
    color: $main-color;
    cursor: pointer;
  }
}

.sixth {
  padding: 70px 90px;

  .line {
    width: 70px;
    height: 4px;
    background-color: $main-color;
    margin: 20px 0;
  }

  .m_navbar {
    text-align: center;
    display: flex;
    justify-content: center;

    ul {
      margin: 0 auto;

      .nav-item, .nav-link {
        border-radius: 20px;
        transition: background-color 0.4s;
      }

      .nav-link {
        color: grey;
      }

      .nav-item:first-child {
        background-color: $main-color;
        color: #ffffff;

        a {
          color: #ffffff;
          text-decoration: none;
        }
      }

      .nav-item a:hover {
        color: #ffffff;
        background-color: $main-color;
      }
    }
  }


  .m_portfolio {
    margin-top: 50px;
  }

  .box {
    position: relative;
    border: 10px solid #ffffff;
    min-height: 300px;
    padding: 0 !important;
    margin: 0 !important;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.4s;

    .m_center {
      width: 40%;
      text-align: center;
      color: #ffffff;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
      transition: 0.6s;

      .icon_box {
        display: inline-block;
        width: 25px;
        font-size: 2rem;
      }
    }

    &:hover {
      .m_center {
        display: block;
      }
      transform: scale(1.05);
    }

    overflow: hidden;
  }

  .box:first-child {
    background-image: url("../images/portfolio/portfolio-1.jpg");

    &:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/portfolio/portfolio-1.jpg");
    }
  }

  .box:nth-child(2) {
    background-image: url("../images/portfolio/portfolio-2.jpg");

    &:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/portfolio/portfolio-2.jpg");
    }
  }

  .box:nth-child(3) {
    background-image: url("../images/portfolio/portfolio-3.jpg");

    &:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/portfolio/portfolio-3.jpg");
    }
  }

  .box:nth-child(4) {
    background-image: url("../images/portfolio/portfolio-4.jpg");

    &:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/portfolio/portfolio-4.jpg");
    }
  }

  .box:nth-child(5) {
    background-image: url("../images/portfolio/portfolio-5.jpg");

    &:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/portfolio/portfolio-5.jpg");
    }
  }

  .box:nth-child(5) {
    background-image: url("../images/portfolio/portfolio-5.jpg");

    &:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/portfolio/portfolio-5.jpg");
    }
  }

  .box:nth-child(6) {
    background-image: url("../images/portfolio/portfolio-6.jpg");

    &:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/portfolio/portfolio-6.jpg");
    }
  }

  .box:nth-child(7) {
    background-image: url("../images/portfolio/portfolio-7.jpg");

    &:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/portfolio/portfolio-7.jpg");
    }
  }

  .box:nth-child(8) {
    background-image: url("../images/portfolio/portfolio-8.jpg");

    &:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/portfolio/portfolio-8.jpg");
    }
  }

  .box:nth-child(9) {
    background-image: url("../images/portfolio/portfolio-9.jpg");

    &:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/portfolio/portfolio-9.jpg");
    }
  }


}

.seventh {
  min-height: 600px;
  padding: 70px 90px;
  color: #8C8C8D;
  background-color: #F6F6F7;

  .line {
    width: 70px;
    height: 4px;
    background-color: $main-color;
    margin: 20px 0;
  }

  .big-car-box {
    margin-top: 100px;
  }

  .m_indicator {
    margin-top: 100px !important;
    width: 15px;
    height: 15px;
    border-radius: 50% !important;
  }

  .car_box {
    border: 20px solid #F6F6F7;
    text-align: center;
    background-color: #ffffff;
    padding: 25px;
    position: relative;


    .image-box {
      display: inline-block;
      width: 90px;
      height: 90px;
      margin: 25px 0;
      border-radius: 50%;
      overflow: hidden;
    }
  }
}

.eighth {
  min-height: 610px;
  padding: 40px 70px;
  background-color: #F6F6F7;

  .big_box {

    .line {
      width: 100px;
      height: 4px;
      background-color: $main-color;
      margin: 20px 0;
    }
  }

  .box {
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

    .image_box {
      width: 120px;
      height: 120px;
      margin: 30px 0;
      display: inline-block;
      border-radius: 50%;
      overflow: hidden;
      background-position: center;

      &:hover {
        transform: scale(1.07);
        background-color: $main-color;
        cursor: pointer;
      }
    }

    .divider {
      display: inline-block;
      height: 2px;
      background-color: rgba(0, 0, 0, 0.4);
      margin: 0 auto;
    }

    .social {
      text-align: center;
      width: 70%;
      margin: 0 auto;

      .col-3 {
        cursor: pointer;
      }
    }

    h2:hover {
      color: $main-color;
      cursor: pointer;
    }
  }


}

.ninth {
  min-height: 500px;
  padding: 40px 70px;
  background-color: #F6F6F7;

  .big_box {

    .line {
      width: 100px;
      height: 4px;
      background-color: $main-color;
      margin: 20px 0;
    }
  }

  .map {
    .map-container-3 {
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      height: 0;
    }

    .map-container-3 iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }

  .box {
    width: 100%;
    height: auto;
    padding: 20px;
    margin-top: 15px;
    background-color: #ffffff;
    border: 5px solid #F6F6F7;

    .image-box {
      width: 60px;
      height: 60px;
      padding: 10px;
      margin-right: 10px;
      border-radius: 50%;
      background-position: center;
      background-color: $main-color;
    }
  }

  .form {
    text-align: center;
    display: flex;
    justify-content: center;

    input, textarea {
      border-color: transparent;
      outline: none;
      border-radius: 5px;
      background-color: #ffffff;

      &:hover {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
      }
    }

    button {
      display: inline-block;
      background-color: $main-color;
      border-radius: 25px;
      color: #ffffff;

      &:hover {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
      }
    }
  }

}

.tenth {
  padding: 20px 45px;
  color: #83777F;

  ul {
    list-style-type: none;

    li {
      padding: 15px 10px;

      a {
        text-decoration: none;
        color: #83777F;

        &:hover {
          color: $main-color;
        }
      }
    }

    li::before {
      content: "\2022";
      color: $main-color;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

  .footer_join {
    position: relative;

    .footer_button {
      position: absolute;
      right: 20px;
      top: 120px;
      border-radius: 25px;
      background-color: $main-color;
      color: #ffffff;
    }
  }

  .footer_author {
    min-height: 60px;

    .image_box {
      width: 35px;
      height: 35px;
      margin-top: 10px;
      border: 1px solid $main-color;
      border-radius: 50%;
      background-position: center;
      overflow: hidden;
      background-color: $main-color;

      &:hover {
        box-shadow: 2px 2px 10px $main-color;
        transform: scale(1.05);
      }
    }
  }
}

.topper {
  display: inline-block;
  margin-top: 10px;
  margin-left: 95%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: $main-color;
  border: 5px solid transparent;

  a {
    text-decoration: none;
    color: #ffffff;
  }
}

